#content{
	background-color: #F0FFFF;
	width: 800px;
	margin: 0 auto;
}
#content .left{
	float: left;	
	width: 100px;
	background-color: #F0FFFF;
	margin-right: 5px;
}
#content .left .louceng{
	margin-left: 0;
}
#tablou{
	width: 100px;
	margin-top: 0px;
	border-collapse: collapse;

}
#tablou td,#tab td{
	border: 1px solid;
}
#content .left .tijiao{
	margin-top: 20px;
}
#tab{
	margin-top: 0px;
	width: 695px;
	border-collapse: collapse;
}
#hiddenDiv{
	position: relative;
	visibility: hidden;
	overflow: hidden;
	background-color:#B9D3EE;
	border: 1px solid;
	width: 250px;
	height: 150px;
	margin:0 auto;
}
.result{
	text-align: center;
	margin-top: 10px;
}
#tongguo{
	margin-top: 20px;
}
#conform{
	margin-top: 20px;
	margin-left: 100px;
}
