#header{
	background-color: #E0FFFF;
	width: 800px;
	margin: 0 auto;
}
.contWidth{
	margin-top: 20px;
	width: 600px;
	height: 95px;
}

.mainNav{
	background-color: #E8E8E8;
	width: 800px;
	height: 40px;
	left: 0;

}
.mainNav ul{
	position: absolute;
	margin-top: 10px;
}

.mainNav ul li{
	font-size: 16px;
	margin-left: 20px;
}