#header{
	background-color: #E0FFFF;
	width: 800px;
	margin: 0 auto;
}
.contWidth{
	margin-top: 20px;
	width: 600px;
	height: 95px;
}

.mainNav{
	background-color: #E8E8E8;
	width: 800px;
	height: 30px;
	left: 0;

}
.mainNav select{
	height: 25px;
	font-size: 16px;
}
.mainNav .nav{

	display: inline;
	left:5px;
}
.mainNav ul li{
	list-style-type: none;
	float: left;
	margin-top: 5px;
	position: relative;
	font-size: 16px;
	margin-left: 20px;

}