body{
	background-image: url(../images/login.png);
}
#username{
	margin-top: 305px;
	margin-left: 555px;
}
#psd{
	margin-left: 555px;
	margin-top: 10px;
}
.enter input{
	width: 147px;
	height: 22px;
}
#towButton{
	margin-top: 20px;
	margin-left: 570px;
}